<footer class="footer">
  <div class="has-background-secondary has-text-white is-px-desktop-5">
    <div class="container is-mx-3 is-mx-desktop-auto">
      <div class="has-text-mobile-center">
        <img loading="lazy" class="logo-white is-inline-block is-mx-auto" src="https://cdn.hestia.earth/prod/assets/images/logo-white.svg" width="90" height="34">
      </div>

      <div class="is-mt-4 is-mx-mobile-0 columns is-mobile is-multiline is-variable is-6-tablet is-1-mobile">
        <div class="column is-narrow-desktop is-6-mobile">
          <div class="">
            <p>Oxford Martin School</p>
            <p>34 Broad Street</p>
            <p>Oxford, OX1 3BD</p>
            <p>United Kingdom</p>
            <p></p>
            <p class="is-mt-3">
              <a href="mailto:community@hestia.earth"><b>community@hestia.earth</b></a>
            </p>
          </div>
        </div>

        <div class="column is-narrow-desktop is-6-mobile no-print">
          <div class="">
            <p>Connect with us</p>
          </div>
          <div class="is-flex is-mt-2 is-size-7">
            <a class="social-icon is-gitlab" [href]="gitHome" target="_blank"></a>
            <a class="social-icon is-linkedin is-ml-2 is-ml-tablet-4" href="https://www.linkedin.com/company/hestia-earth" target="_blank"></a>
            <a class="social-icon is-twitter is-ml-2 is-ml-tablet-4" href="https://twitter.com/hestiaToolkit" target="_blank"></a>
          </div>
        </div>

        <div class="column is-hidden-mobile is-hidden-tablet-only"></div>

        <div class="column is-narrow-desktop is-6-mobile no-print">
          <aside class="menu">
            <ul class="menu-list">
              <li><a href="/aggregation/explorer">Data Platform</a></li>
              <li><a href="/schema">Data Format</a></li>
              <li><a href="/products">Calculation Tools</a></li>
              <li><a href="https://hestia-fst.oxfordmartin.ox.ac.uk">Farm Sustainability Toolkit</a></li>
            </ul>
          </aside>
        </div>

        <div class="column is-narrow-desktop is-6-mobile no-print">
          <aside class="menu">
            <ul class="menu-list">
              <li><a href="/jobs">Work with us</a></li>
              <li><a href="mailto:community@hestia.earth">Contact us</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms">Terms of Use</a></li>
            </ul>
          </aside>
        </div>
      </div>

      <div class="is-mt-4 has-text-mobile-left has-text-right is-size-7">
        <p>
          <span>Data in Hestia are contributed and accessed under a</span><a class="is-pl-1 is-underlined" href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank">CC0 licence</a><img class="is-ml-2 logo-size-1" loading="lazy" src="https://upload.wikimedia.org/wikipedia/commons/4/43/CC_Zero_badge.svg"><span>.</span>
        </p>
      </div>
    </div>
  </div>
</footer>
