<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body class="has-spaced-navbar-fixed-top">
  {% include 'navbar.html' %}

  {% for mm in models.types %}
  <template id="template-{{mm.name}}">
    <table>
      <tbody>
        {% if mm.name == 'Term' %}
        <tr
          model="{{ mm.name.lower() }}"
          prop="@id"
        >
          <td>
            <label class="checkbox" disabled>
              <input type="checkbox" disabled checked="true"
                id="{{ mm.name.lower() }}.@id"
                model="{{ mm.name.lower() }}"
                prop="@id"
              >
            </label>
          </td>
          <td class="full-width">
            <span id="@id" class="anchor"></span>
            <a class="model-property" href="/schema/{{ mm.name }}#id" target="_blank">
              <span class="model">{{ mm.name.lower() }}</span>
              <span>.</span>
              <span class="property">@id</span>
            </a>
          </td>
          <td>string</td>
          <!-- <td>
            <span class="has-text-danger">Yes</span>
          </td> -->
          <!-- <td class="full-width comment">A unique ID you must assign for each {{ mm.name }}</td> -->
        </tr>
        {% else %}

          {% if mm.type == 'Node' %}
        <tr
          model="{{ mm.name.lower() }}"
          prop="id"
        >
          <td>
            <label class="checkbox" disabled>
              <input type="checkbox" disabled checked="true"
                id="{{ mm.name.lower() }}.id"
                model="{{ mm.name.lower() }}"
                prop="id"
              >
            </label>
          </td>
          <td class="full-width">
            <span id="id" class="anchor"></span>
            <a class="model-property" href="/schema/{{ mm.name }}#id" target="_blank">
              <span class="model">{{ mm.name.lower() }}</span>
              <span>.</span>
              <span class="property">id</span>
            </a>
          </td>
          <td>string</td>
          <!-- <td>
            <span class="has-text-danger">Yes</span>
          </td> -->
          <!-- <td class="full-width comment">A unique ID you must assign for each {{ mm.name }}</td> -->
        </tr>
          {% endif %}

          {% for property in mm.properties|selectattr("internal", "equalto", false)|selectattr("deprecated", "equalto", false)|list %}
            {% if property.is_array %}
        <tr
          model="{{ mm.name.lower() }}"
          prop="{{ property.name }}[0]"
        >
            {% else %}
        <tr
          model="{{ mm.name.lower() }}"
          prop="{{ property.name }}"
        >
            {% endif %}
          <td>
            {% if property.is_array %}
              {% if property.required %}
              <input class="input array-input" type="number" min="1" step="1" value="1"
                id="{{ mm.name.lower() }}.{{ property.name }}[0]"
                model="{{ mm.name.lower() }}"
                prop="{{ property.name }}[0]"
                ref="{{ property.ref_class }}"
                onchange="updatArray(this)"
              >
              {% else %}
              <input class="input array-input" type="number" min="0" step="1" value="0"
                id="{{ mm.name.lower() }}.{{ property.name }}[0]"
                model="{{ mm.name.lower() }}"
                prop="{{ property.name }}[0]"
                ref="{{ property.ref_class }}"
                onchange="updatArray(this)"
              >
              {% endif %}
            {% elif property.is_object %}
              {% if property.required and property.ref_class not in types %}
              <label class="checkbox" disabled>
                <input class="object-input" type="checkbox" disabled checked="true"
                  id="{{ mm.name.lower() }}.{{ property.name }}"
                  model="{{ mm.name.lower() }}"
                  prop="{{ property.name }}"
                  ref="{{ property.ref_class }}"
                >
              </label>
              {% else %}
              <label class="checkbox">
                <input class="object-input" type="checkbox"
                  id="{{ mm.name.lower() }}.{{ property.name }}"
                  model="{{ mm.name.lower() }}"
                  prop="{{ property.name }}"
                  ref="{{ property.ref_class }}"
                  onchange="updatObject(this)"
                >
              </label>
              {% endif %}
            {% else %}
              {% if property.required %}
              <label class="checkbox" disabled>
                <input type="checkbox" disabled checked="true"
                  id="{{ mm.name.lower() }}.{{ property.name }}"
                  model="{{ mm.name.lower() }}"
                  prop="{{ property.name }}"
                >
              </label>
              {% else %}
              <label class="checkbox">
                <input type="checkbox"
                  id="{{ mm.name.lower() }}.{{ property.name }}"
                  model="{{ mm.name.lower() }}"
                  prop="{{ property.name }}"
                  onchange="updateFields()"
                >
              </label>
              {% endif %}
            {% endif %}
          </td>
          <td class="full-width">
            <span id="{{ property.name }}" class="anchor"></span>
            <a class="model-property" href="/schema/{{ mm.name }}#{{ property.name }}" target="_blank">
              <span class="model">{{ mm.name.lower() }}</span>
              <span>.</span>
              <span class="property">{{ property.name }}</span>
            </a>
          </td>
          <td>{{ property.display_type }}</td>
          <!-- <td>
            {% if property.required %}
            <span class="has-text-danger">Yes</span>
            {% else %}
            <span class="has-text-grey">No</span>
            {% endif %}
          </td> -->
          <!-- <td class="full-width comment">{{ property.doc }}</td> -->
        </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </template>
  {% endfor %}

  <script type="text/javascript">
    var activeClass = 'is-active';
    var hiddenClass = 'is-hidden';
    var arrayClass = 'array-input';
    var objectClass = 'object-input';

    function getTemplateRows(type) {
      return document.getElementById('template-' + type).content.cloneNode(true).querySelectorAll('tr');
    }

    function getTbodyContainer(id) {
      var parts = id.toLowerCase().split('.');
      return document.querySelector('#table-' + parts[0] + ' tbody');
    }

    function hasSelectedTopLevel(id) {
      var tbody = getTbodyContainer(id);
      return !!tbody && tbody.querySelectorAll('tr').length;
    }

    function updateAttributes(row, model) {
      row.setAttribute('model', model);
      var level = model.split('.').length;
      row.setAttribute('level', level);

      var inputs = row.getElementsByTagName('input');
      var labels = row.querySelectorAll('tr[model="' + model + '"] span.model');
      for (var i=0; i<inputs.length; i++) {
        var fullId = [model, inputs[i].getAttribute('prop')].join('.');
        inputs[i].setAttribute('model', model);
        inputs[i].setAttribute('id', fullId);
        labels[i].textContent = model;
      }
    }

    function refreshChildren(el) {
      var arrays = el.getElementsByClassName(arrayClass);
      for (var k=0; k<arrays.length; k++) {
        window.updatArray(arrays[k], parent);
      }
      var objects = el.getElementsByClassName(objectClass);
      for (var l=0; l<objects.length; l++) {
        window.updatObject(objects[l], parent);
      }
    }

    function updateChildren(el, enabled) {
      var ref = el.getAttribute('ref');
      var model = el.getAttribute('model');
      var prop = el.getAttribute('prop');

      var row = document.querySelector('tr[model="' + model + '"][prop="' + prop + '"]');
      var body = getTbodyContainer(model);
      var rows = document.querySelectorAll('tr[model^="' + [model, prop].join('.') + '"]');

      if (enabled) {
        if (rows.length == 0) {
          var rows = getTemplateRows(ref);
          for (var i=0; i<rows.length; i++) {
            if (hasSelectedTopLevel(ref) && rows[i].getAttribute('prop') != 'id') {
              continue;
            }
            updateAttributes(rows[i], [model, prop].join('.'));
            body.insertBefore(rows[i], row.nextSibling);
            refreshChildren(rows[i]);
          }
        }
      }
      else {
        for (var i=0; i<rows.length; i++) {
          body.removeChild(rows[i]);
        }
      }
    }

    window.updatObject = function(el) {
      updateChildren(el, el.checked);
      window.updateFields();
    };

    window.updatArray = function(el) {
      var rows = document.querySelectorAll('tr[model="' + el.id + '"]');
      if (el.value < 1 || rows.length < 1) {
        updateChildren(el, el.value == 1);
      }
      window.updateFields();
    };

    function recursiveArray(parent, parts, index) {
      var model = parent + parts[index] + '[0]';
      var input = document.getElementById(model);
      var array = [];
      if (input) {
        var children = [];
        if (index < parts.length - 1) {
          children = recursiveArray(model, parts, index + 1);
        }
        for (var i=0; i<input.value;i++) {
          if (children.length) {
            for (var j=0; j<children.length;j++) {
              array.push(parts[index] + '[' + i + ']' + children[j]);
            }
          }
          else {
            array.push(parts[index] + '[' + i + ']');
          }
        }
      }
      return array;
    }

    function arrayIds(id) {
      // cycle.inputs[0].properties[0].id
      if (id.substring(id.length - 3) == '[0]') {
        return [];
      }
      var parts = id.split('[0]');
      // keep the property
      var prop = parts.pop();
      var values = recursiveArray('', parts, 0);
      var array = [];
      for (var i=0; i<values.length;i++) {
        array.push(values[i] + prop);
      }
      return array;
    }

    window.updateFields = function() {
      var fields = [];
      var inputs = document.querySelectorAll('input:not(.' + arrayClass + '):not(.' + objectClass + '):not(.selector)');
      for (var i = 0; i < inputs.length; i++) {
        var id = inputs[i].id;
        var val = inputs[i].value;
        if (inputs[i].checked || val > 0) {
          if (id.indexOf('[0]') >= 0) {
            fields = [].concat(fields, arrayIds(id));
          }
          else {
            fields.push(id);
          }
        }
      }
      document.getElementsByClassName('fields')[0].textContent = fields.length;
      var data = fields.sort().join(',');
      document.getElementById('preview').textContent = data;
      document.getElementById('download').setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(data));
    }

    window.selectType = function(id) {
      var tabs = document.querySelectorAll('.tabs li');
      for (var i=0; i<tabs.length; i++) {
        tabs[i].classList.remove(activeClass);
      }
      document.getElementById('tab-' + id).classList.add(activeClass);

      var tabContents = document.querySelectorAll('.table-container');
      for (var j=0; j<tabContents.length; j++) {
        tabContents[j].classList.add(hiddenClass);
      }
      document.getElementById('tab-content-' + id).classList.remove(hiddenClass);
    };

    window.toggleType = function(el) {
      var rows = document.querySelectorAll('tr[model^="' + el.id + '"]');
      var body = getTbodyContainer(el.id);

      if (el.checked) {
        if (rows.length) {
          return;
        }

        rows = getTemplateRows(el.name);
        for (var j=0; j<rows.length; j++) {
          body.appendChild(rows[j]);
        }
        refreshChildren(body);
      }
      else {
        for (var i=0; i<rows.length; i++) {
          body.removeChild(rows[i]);
        }
      }
      window.updateFields();
    }
  </script>

  <style type="text/css">
    .preview {
      border: 1px solid #141414;
    }
    #preview {
      padding: 4px;
    }
    .full-width {
      width: 100%;
    }
    .array-input {
      width: 60px;
    }
    .model {
      color: #141414;
    }
    .model-property {
      white-space: nowrap;
    }
  </style>

  <section class="container py-2 mx-3 is-mx-desktop-auto mb-5">
    <div class="columns is-justify-content-between is-vcentered">
      <div class="column">
        <h1 class="content mt-3 has-text-weight-bold is-size-3">CSV Upload Generator</h1>
      </div>
      <div class="column is-narrow" [ngSwitch]="!!csvData">
        <a id="download" class="button is-primary" href="#" download="template.csv">
          <!-- <fa-icon class="mr-2" icon="download"></fa-icon> -->
          <span>Download</span>
        </a>
      </div>
    </div>

    <div class="mt-3">
      <!-- <label class="checkbox">
        <input type="checkbox" onchange="toggleComments(this)">
        Show definitions
      </label> -->

      <div>
        <p><small>CSV Preview</small></p>
        <pre class="preview"><code id="preview"></code></pre>
      </div>
    </div>

    <p class="my-2"><small>Note: all required properties are already selected and cannot be removed.</small></p>

    <hr class="section-divider my-4">

    <div class="my-3">
      <div class="notification is-info" role="alert">
        <span class="pr-1 pb-1">By including top-level Nodes, you can reference them by using their <code class="inline">id</code> field. Example:</span>
        <pre><code>site.id,site.name,cycle.id,cycle.site.id</code>
<code>site1,My First Site,cycle1,site1</code></pre>
      </div>
    </div>

    <h3>Select the top-level Nodes to include in the template:</h3>

    <div class="tabs">
      <ul>
        {% for type in types %}
        <li id="tab-{{ type.lower() }}">
          <a onclick="selectType('{{ type.lower() }}')">
            <label class="checkbox ml-2">
              {% if types.index(type) == 0 %}
              <input type="checkbox" class="selector" checked="true"
                id="{{ type.lower() }}" name="{{ type }}"
                onchange="toggleType(this)"
                onclick="event.stopPropagation()"
              >
              {% else %}
              <input type="checkbox" class="selector"
                id="{{ type.lower() }}" name="{{ type }}"
                onchange="toggleType(this)"
                onclick="event.stopPropagation()"
              >
              {% endif %}
            </label>
            <span class="pl-2">{{ type }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% for type in types %}
    <div id="tab-content-{{ type.lower() }}" class="table-container">
      <table id="table-{{ type.lower() }}" class="table is-narrow">
        <thead>
          <tr>
            <th>Include (<span class="fields">0</span>)</th>
            <th>Field</th>
            <th>Type</th>
            <!-- <th>Required</th> -->
            <!-- <th class="comment">Definition</th> -->
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    {% endfor %}

    <script type="text/javascript">
    window.selectType('{{ types[0].lower() }}');
    window.toggleType(document.getElementById('{{ types[0].lower() }}'));
    </script>
  </section>

  {% include 'footer.html' %}

  <!-- <script type="text/javascript">
    var hiddenClass = 'is-hidden';

    window.toggleComments = function(el) {
      var comments = document.querySelectorAll('.comment');
      for (var j=0; j<comments.length; j++) {
        if (el.checked) {
          comments[j].classList.remove(hiddenClass);
        }
        else {
          comments[j].classList.add(hiddenClass);
        }
      }
    }

    window.toggleComments({ checked: false });
  </script> -->
</body>

</html>
