<head lang="en">
  <meta charset="UTF-8">
  {% if model %}
  <title>{{ model.name }} | Hestia</title>
  {% else %}
  <title>Schema | Hestia</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.hestia.earth/{{ env }}/assets/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://cdn.hestia.earth/{{ env }}/assets/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.hestia.earth/{{ env }}/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.hestia.earth/{{ env }}/assets/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.hestia.earth/{{ env }}/assets/icons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://cdn.hestia.earth/{{ env }}/assets/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://cdn.hestia.earth/{{ env }}/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

  <script src="https://cdn.jsdelivr.net/npm/jsonld@3.1.0/dist/jsonld.min.js"></script>

  <style type="text/css">
    .navigation-menu .menu-list a {
      padding: .25em;
    }

    .navigation-menu .menu-list li ul {
      border-left-color: #ffbf00;
      margin: .25em;
    }

    .anchor {
      top: -120px;
    }

    .title-anchor img {
      width: 16px;
    }

    .comment {
      color: #141414;
      word-break: break-word;
    }

    .property:not(:hover):not(:focus) {
      border-bottom: 1px dotted;
    }

    .subheader {
      color: #959595;
      text-transform: uppercase;
      font-weight: bold;
    }

    .tab-content {
      position: relative;
    }

    .copy-clipboard {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    code.inline {
      background-color: transparent;
      user-select: all;
    }

    span.code.inline {
      background-color: transparent;
      user-select: all;
      color: #da1039;
      font-size: .875em;
      font-weight: normal;
    }

    .table:not(.is-bordered) thead th {
      border: none !important;
    }

    .table:not(.is-bordered) td {
      border: none !important;
    }

    .sub-table tr {
      background-color: transparent !important;
    }

    .sub-table .sub-table-value {
      min-width: 120px !important;
      width: 120px !important;
    }

    @media screen and (max-width: 768px) {
      table tbody td:first-child {
        min-width: 100px;
        word-break: break-word;
      }
    }

    table tbody tr:nth-child(even) {
      background-color: #FFFDF4;
    }
  </style>
</head>
