<nav class="navbar is-spaced is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand is-justify-content-space-between">
      <a role="button" class="navbar-burger burger ml-0 is-hidden-tablet"
        aria-label="menu" aria-expanded="false" data-target="navbar-dd"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <a class="navbar-item" href="/">
        <img loading="lazy" class="logo-yellow" src="https://cdn.hestia.earth/prod/assets/images/logo-yellow.svg" width="180" height="69">
        <img loading="lazy" class="logo-white is-hidden" src="https://cdn.hestia.earth/prod/assets/images/logo-white.svg" width="180" height="69">
      </a>

      <div class="is-flex is-align-items-center is-hidden-mobile is-hidden-desktop">
        <a class="is-mx-2 partner-logo is-oms" href="https://www.oxfordmartin.ox.ac.uk/food-sustainability-analytics/" target="_blank" title="Oxford Martin School"></a>
        <a class="is-mx-2 partner-logo is-login5" href="https://login5.org/" target="_blank" title="Login5 Foundation"></a>
        <a class="is-mx-2 partner-logo is-wwf" href="https://wwf.panda.org/" target="_blank" title="WWF"></a>
      </div>

      <div class="is-flex is-align-items-center is-ml-mobile-auto is-mr-3 is-hidden-desktop">
        <a class="signin-icon user-unlogged" href="/users/profile">
          <img class="logo-yellow is-hidden-mobile" height="24" width="24" src="https://cdn.hestia.earth/{{ env }}/assets/images/profile-blue.svg" />
          <img class="logo-yellow is-hidden-tablet" height="24" width="24" src="https://cdn.hestia.earth/{{ env }}/assets/images/profile-yellow.svg" />
          <img class="logo-white is-hidden" height="24" width="24" src="https://cdn.hestia.earth/{{ env }}/assets/images/profile-white.svg" />
        </a>
        <a class="user-icon is-ml-2 user-logged has-text-white has-text-centered"
          aria-haspopup="true" aria-controls="navbar-users" data-target="navbar-users"
        >
          <span class="user-name">user initial</span>
        </a>

        <a role="button" class="navbar-burger burger ml-0 is-hidden-mobile"
          aria-label="menu" aria-expanded="false" data-target="navbar-dd"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <div id="navbar-dd" class="navbar-menu is-primary">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Data Format
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item is-active" href="/schema/">
              Schema
            </a>
            <a class="navbar-item" href="/glossary">
              Glossary of Terms
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Data Platform
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/upload">
              How to Upload
            </a>
            <a class="navbar-item" href="/aggregation/explorer">
              Data Explorer
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Calculation Tools
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/docs/" target="_blank">
              Documentation
            </a>
            <a class="navbar-item" href="/calculation">
              Modelling approach
            </a>
          </div>
        </div>

        <a class="users-signin user-unlogged button is-secondary is-rounded is-ml-mobile-auto is-mx-tablet-3" href="/users/signin">
          Sign In
        </a>
        <div class="user-logged navbar-item is-ml-2 has-dropdown is-hoverable is-hidden-mobile is-hidden-tablet-only pointer">
          <a class="user-icon is-block has-text-centered w-100">
            <span class="user-name">user initial</span>
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/files">
              My Submissions
            </a>
            <a class="navbar-item" href="/users/bibliographies">
              My Uploaded Sources
            </a>
            <a class="navbar-item" href="/users/profile">
              My Account Settings
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" onclick="signOut()">
              Sign Out
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end is-ml-2 is-hidden-mobile is-hidden-tablet-only">
        <a class="is-mx-2 partner-logo is-oms" href="https://www.oxfordmartin.ox.ac.uk/food-sustainability-analytics/" target="_blank" title="Oxford Martin School"></a>
        <a class="is-mx-2 partner-logo is-login5" href="https://login5.org/" target="_blank" title="Login5 Foundation"></a>
        <a class="is-mx-2 partner-logo is-wwf" href="https://wwf.panda.org/" target="_blank" title="WWF"></a>
      </div>
    </div>

    <div id="navbar-users" class="navbar-menu is-primary is-hidden-desktop">
      <div class="navbar-dropdown">
        <a class="navbar-item" href="/files">
          My Submissions
        </a>
        <a class="navbar-item" href="/users/bibliographies">
          My Uploaded Sources
        </a>
        <a class="navbar-item" href="/users/profile">
          My Account Settings
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item" onclick="signOut()">
          Sign Out
        </a>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  var activeClass = 'is-active';

  // set active link to current page
  var links = document.querySelectorAll('.navbar .navbar-item');
  for (var i = 0; i < links.length; i++) {
    var link = links[i];
    var href = link.href;
    if (href == window.location.href) {
      link.classList.add(activeClass);
    }
  }

  var navbarButtons = document.querySelectorAll('[data-target]');
  var navbarActive = [];
  navbarButtons.forEach(function () {
    navbarActive.push(false);
  });
  var navbarMenus = document.querySelectorAll('.navbar-menu');

  function handleMenuToggle(button, index) {
    var target = button.dataset.target;
    var navbarMenu = document.getElementById(target);
    button.addEventListener('click', function (ev) {
      // make sure all menus are hidden first
      navbarButtons.forEach(function (el, bIndex) {
        navbarActive[bIndex] = false;
        el.classList.remove(activeClass);
      });
      navbarMenus.forEach(function (el) {
        el.classList.remove(activeClass);
      });

      setTimeout(function () {
        navbarActive[index] = !navbarActive[index];
        if (navbarActive[index]) {
          button.classList.add(activeClass);
          navbarMenu.classList.add(activeClass);
        }
        else {
          button.classList.remove(activeClass);
          navbarMenu.classList.remove(activeClass);
        }
      });
    });
  }

  // open/close menu on mobile
  navbarButtons.forEach(handleMenuToggle);
</script>

<script type="text/javascript">
  var hiddenClass = 'is-hidden';
  var storageKey = 'he_ws-he_';

  window.signOut = function() {
    window.localStorage.clear(storageKey + 'p');
    window.localStorage.clear(storageKey + 't');
    window.location.reload();
  };

  var user = window.localStorage.getItem(storageKey + 'p');
  var unlogged = document.querySelectorAll('.user-unlogged');
  var logged = document.querySelectorAll('.user-logged');
  var usernames = document.querySelectorAll('.user-name');
  if (user && user.length) {
    user = JSON.parse(user);
    var initials = user.firstName[0] + (user.lastName ? user.lastName[0] : '.');
    usernames.forEach(function (e) {
      e.textContent = initials;
    });

    unlogged.forEach(function (e) {
      e.classList.add(hiddenClass);
    });
    logged.forEach(function (e) {
      e.classList.remove(hiddenClass);
    });
  }
  else {
    unlogged.forEach(function (e) {
      e.classList.remove(hiddenClass);
    });
    logged.forEach(function (e) {
      e.classList.add(hiddenClass);
    });
  }
</script>
