<label class="is-inline-block label has-text-left">
  Viewing version
</label>

<script type="text/javascript">
  window.versions = [
    {% for version in versions %}'{{ version }}',{% endfor %}
  ];
</script>

<div class="control is-inline-block is-ml-2 is-align-middle">
  <div class="select is-small">
    <select id="versions" onchange="javascript:updateVersion(this)" name="versions">
      {% for version in versions %}
        <option value="{{ version }}">{{ version }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<script type="text/javascript">
  var latest = window.versions[0];
  var pathname = window.location.pathname.split('/');
  var type = pathname.pop();
  var version = pathname.pop();
  var versionsEl = document.getElementById('versions');

  if (version === 'schema' || version === 'html') {
    versionsEl.value = latest;
  }
  else {
    // make sure version is in the list or add it
    if (window.versions.indexOf(version) === -1) {
      var option = document.createElement('option');
      option.value = version;
      option.textContent = version;
      versionsEl.insertBefore(option, versionsEl.querySelector('option[value=' + latest + '] + option'));
    }

    versionsEl.value = version;
  }

  window.updateVersion = function(element) {
    var paths = [
      window.location.origin,
      'schema'
    ];
    if (element.value !== latest) {
      paths.push(element.value);
    }
    paths.push(type);
    window.location.href = paths.join('/');
  };
</script>
